.main-header {
    /* background color/image */
    background-color: var(--bs-primary-bg-subtle);
    background-image: url(/img/HostingPro576.png);
    height: 200px;
    background-position: right top;
    background-repeat: no-repeat;

    /* position the content */
    display: flex;
    justify-content: start;
    align-items: center;
}

.main-header-content {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
}

.main-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4rem;
}

.subtitle {
    font-family: "Fira Sans", sans-serif;
    margin-top: 1rem;
    font-size: .9rem;
    line-height: 1.1rem;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main-header {
        background-image: url(/img/HostingPro768.png);
        height: 200px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main-header {
        background-image: url(/img/HostingPro992.png);
        height: 300px;
    }
    .main-title {
        font-size: 2.5rem;
        line-height: 2.4rem;
    }
    .subtitle {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-header {
        background-image: url(/img/HostingPro1200.png);
        height: 400px;
    }
    .main-title {
        font-size: 3rem;
        line-height: 3rem;
    }
    .subtitle {
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-header {
        background-image: url(/img/HostingPro2560.png);
        height: 500px;
    }
    .main-title {
        font-size: 4rem;
        line-height: 4rem;
    }
    .subtitle {
        font-size: 1.75rem;
        line-height: 2.1rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}